<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />

    <link rel="stylesheet" href="app/styles/main.css">
    <link rel="stylesheet" href="app/scripts/ng-schedule.css" />
  </head>
  <body ng-app="ngscheduleApp" ng-controller="MainCtrl">

<!--     <div id="target" style="width: 500px; height: 500px; background-color: red;"></div>
    <div id="log"></div>

 -->


    <div schedule 
         class="schedule-wrap"
         config-data="configData1"
         ng-model="eventData">
    </div>
    <hr /> 
    <div schedule 
         class="schedule-wrap"
         config-data="configData2"
         ng-model="eventData">
    </div>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!--<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->
    <script>

      // function logIt(e) {
      //   // console.log(e)
      //   e.preventDefault();

      //   $('log').append('<div>'+e.clientX+','+e.clientY+'</div>')

      // }

      // $('#target').on('touchmove', function(event) {
      //   logIt(event)
      // })
      // $('#target').on('vmousemove', function(event) {
      //   logIt(event)
      // })

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js"></script>
    <!-- <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/moment/moment.js"></script> -->
    <script src="app/scripts/app.js"></script>
    <script src="app/scripts/controllers/main.js"></script>

    <script type="text/ng-template" 
            id="ng-schedule.html">
<div class="schedule noselect
            ng-class:{'schedule-horiz': configData.horizontal, 
                      'schedule-vert': !configData.horizontal}"
     ng-mouseleave="release()"
     ng-mouseup="release()"
     ontouchleave="release()"
     ontouchend="release()">
  <span>
    <div ng-repeat="klass in fillClasses.slice(1)"
         class="colorpicker ng-class:[klass]"
         ng-click="selectClass($index+1)"
         ng-touch="selectClass($index+1)">
    </div>
  </span>
  <div style="clear: both; height: 0; margin:0"></div>
  <div class="dayspacer"
       ng-repeat="day in days"
       ng-init="dayIdx = $index">
    <table ng-if="configData.horizontal"
           class="display-blocks
                  ng-class:{'resizing-horiz': selectedBlock !== null}">
      <tr>
        <td ng-repeat="block in blockTargets track by $index" 
            ng-if="$index%2==0" 
            colspan="2">
          {{ $index }}
        </td>
      </tr>
      <tr class="block-row"
          ng-mousemove="trackMove(dayIdx, $event)"
          ng-mousedown="select(dayIdx, $event)"
          ontouchmove="trackTouchMove(dayIdx, $event)"
          ontouchstart="touchSelect(dayIdx, $event)">
        <td ng-repeat="block in day.blocks" 
            colspan="{{ block.length }}">
          <div class="schedule-block-content 
                      ng-class:[fillClasses[block.status]]"
               ng-mousedown="createIfAvailable(dayIdx, block)"
               ontouchstart="touchCreateIfAvailable(dayIdx, block, $event)">
            &nbsp;
            <div class="bumper bumper-horiz left-bumper" 
                 ng-class="{'resizing-horiz': selectedBlock === null}"
                 ng-mousedown="adjustBefore(block)"
                 ontouchstart="touchAdjustBefore(block)"
                 ng-if="block.status > 0">
            </div>
            <div class="bumper bumper-horiz right-bumper" 
                 ng-class="{'resizing-horiz': selectedBlock === null}"
                 ng-mousedown="adjustAfter(block)"
                 ontouchstart="touchAdjustAfter(block)"
                 ng-if="block.status > 0">
            </div>
            <div class="destroy-btn destroy-btn-horiz"
                 ng-click="remove(dayIdx, block, $event)"
                 ng-touch="remove(dayIdx, block, $event)"
                 ng-if="block.destructible && block.status>0">
              <span class="glyphicon glyphicon-remove"></span>
            </div>
          </div>
        </td>
      </tr>
      <td ng-repeat="block in day.blocks" 
          colspan="{{ block.length }}">
        {{ block.length }}
      </tr>
    </table>

    <table ng-if="!configData.horizontal"
           class="display-blocks block-col
                  ng-class:{'resizing-vert': selectedBlock !== null}">
      <tr ng-repeat-start="block in day.blocks"
          ng-mousemove="trackMove(dayIdx, $event)"
          ng-mousedown="select(dayIdx, $event)"
          touchmove="trackTouchMove(dayIdx, $event)"
          touchstart="touchSelect(dayIdx, $event)">
        <td class="vert-row-spacer vert-row-spacer-ff"
            rowspan="{{ block.length }}">
          <div class="schedule-block-content 
                      ng-class:[fillClasses[block.status]]"
               ng-mousedown="createIfAvailable(dayIdx, block)"
               touchstart="touchCreateIfAvailable(dayIdx, block)">
            &nbsp;
            <div class="bumper bumper-vert top-bumper" 
                 ng-class="{'resizing-vert': selectedBlock === null}"
                 ng-mousedown="adjustBefore(block)"
                 touchstart="touchAdjustBefore(block, $event)"
                 ng-if="block.status > 0">
            </div>
            <div class="bumper bumper-vert bottom-bumper" 
                 ng-class="{'resizing-vert': selectedBlock === null}"
                 ng-mousedown="adjustAfter(block)"
                 touchstart="touchAdjustAfter(block, $event)"
                 ng-if="block.status > 0">
            </div>
            <div class="destroy-btn destroy-btn-vert"
                 ng-click="remove(dayIdx, block, $event)"
                 ng-touch="remove(dayIdx, block, $event)"
                 ng-if="block.destructible && block.status>0">
              <span class="glyphicon glyphicon-remove"></span>
            </div>
          </div>
        </td>
      </tr>
      <tr ng-repeat="val in getCount(block.length - 1) track by $index" 
          ng-repeat-end>
        <td style="width:0"></td>
      </tr>
    </table>
  </div>
</div>




    </script>
    <script src="app/scripts/ng-schedule.js"></script>
  </body>
</html>
