.schedule-wrap {
	padding: 20px;
	width: 80%;
	height: 300px;
}

.schedule {
	border: 1px solid black;
}

.schedule > div {
	position: relative;
	height: 60px;
	margin-bottom: 20px;
}

.schedule td > div {
	height: 50px;
}

.schedule table {
	width: 100%;
	top: 0px;
	position: absolute;
	table-layout: fixed;
}

/*.schedule-block-content {
	width: 100%;
	height: 100%;
}*/

.schedule .display-blocks td:not(:last-child) > div {
	border-right: 2px solid white;
}

.schedule-block-content {
	box-sizing: border-box;
}

.schedule-block-content:hover {
	background-color: green;
}

.schedule-block-content {
	position: relative;
	width: 100%;
	height: 100%;
	cursor:pointer;
	box-sizing: box;
}

.schedule-block-filled {
	background-color: #5CE65C;
}

.schedule-block-available {
	background-color: #EEEEEE;
}

.bumper {
	box-sizing: content-box;
	position: absolute;
	height: 100%;
	width: 5px;
	top: -2px;
	border-color: #AAAAAA;
	border-style: solid;
	cursor: ew-resize;
}

.left-bumper {
	border-width: 2px 0px 2px 4px;
	left: 0px;
}

.right-bumper {
	border-width: 2px 4px 2px 0px;
	right: 0px;
}
