<div class="schedule noselect
            ng-class:{'schedule-horiz': configData.horizontal, 
                      'schedule-vert': !configData.horizontal}"
     ng-mouseleave="release()"
     ng-mouseup="release()"
     ng-touchleave="release()"
     ng-touchend="release()">
  <span>
    <div ng-repeat="klass in fillClasses.slice(1)"
         class="colorpicker ng-class:[klass]"
         ng-click="selectClass($index+1)"
         ng-touchstart="selectClass($index+1)">
    </div>
  </span>
  <div style="clear: both; height: 0; margin:0"></div>
  <div ng-repeat="day in days"
       ng-init="dayIdx = $index">
		<table ng-if="configData.horizontal"
           class="display-blocks
                  ng-class:{'resizing-horiz': selectedBlock !== null}">
      <tr>
        <td ng-repeat="block in blockTargets track by $index" 
            ng-if="$index%2==0" 
            colspan="2">
          {{ $index }}
        </td>
      </tr>
			<tr class="block-row"
				  ng-mousemove="trackMove(dayIdx, $event)"
          ng-mousedown="select(dayIdx, $event)"
          ng-touchmove="trackMove(dayIdx, $event)"
          ng-touchstart="select(dayIdx, $event)">
				<td ng-repeat="block in day.blocks" 
					  colspan="{{ block.length }}">
          <div class="schedule-block-content 
                      ng-class:[fillClasses[block.status]]"
               ng-mousedown="createIfAvailable(dayIdx, block)"
               ng-touchstart="createIfAvailable(dayIdx, block)">
						&nbsp;
						<div class="bumper bumper-horiz left-bumper" 
                 ng-class="{'resizing-horiz': selectedBlock === null}"
                 ng-mousedown="adjustBefore(block)"
                 ng-touchstart="adjustBefore(block)"
							   ng-if="block.status > 0">
						</div>
						<div class="bumper bumper-horiz right-bumper" 
                 ng-class="{'resizing-horiz': selectedBlock === null}"
                 ng-mousedown="adjustAfter(block)"
                 ng-touchstart="adjustAfter(block)"
							   ng-if="block.status > 0">
						</div>
            <div class="destroy-btn destroy-btn-horiz"
                 ng-click="remove(dayIdx, block, $event)"
                 ng-touchstart="remove(dayIdx, block, $event)"
                 ng-if="block.destructible && block.status>0">
              <span class="glyphicon glyphicon-remove"></span>
            </div>
					</div>
				</td>
			</tr>
      <tr class="timestamp">
        <td ng-class="{invisible: block.status<1}" 
            ng-repeat="block in day.blocks" 
            colspan="{{ block.length }}">
          <!-- <div ng-class="{timerange: block.status>0}"></div> -->
          <span>
            {{ block.length }} {{ block.start() }} {{ block.end() }}
          </span>
          <div style="width: 100%; height: 100%; border-bottom: 1px solid black;"></div>
        </td>
      </tr>
		</table>

    <table ng-if="!configData.horizontal"
           class="display-blocks block-col
                  ng-class:{'resizing-vert': selectedBlock !== null}">
      <tr ng-repeat-start="block in day.blocks"
          ng-mousemove="trackMove(dayIdx, $event)"
          ng-mousedown="select(dayIdx, $event)"
          ng-touchmove="trackMove(dayIdx, $event)"
          ng-touchstart="select(dayIdx, $event)">
        <td class="vert-row-spacer vert-row-spacer-ff"
            rowspan="{{ block.length }}">
          <div class="schedule-block-content 
                      ng-class:[fillClasses[block.status]]"
               ng-mousedown="createIfAvailable(dayIdx, block)"
               ng-touchstart="createIfAvailable(dayIdx, block)">
            &nbsp;
            <div class="bumper bumper-vert top-bumper" 
                 ng-class="{'resizing-vert': selectedBlock === null}"
                 ng-mousedown="adjustBefore(block)"
                 ng-touchstart="adjustBefore(block)"
                 ng-if="block.status > 0">
            </div>
            <div class="bumper bumper-vert bottom-bumper" 
                 ng-class="{'resizing-vert': selectedBlock === null}"
                 ng-mousedown="adjustAfter(block)"
                 ng-touchstart="adjustAfter(block)"
                 ng-if="block.status > 0">
            </div>
            <div class="destroy-btn destroy-btn-vert"
                 ng-click="remove(dayIdx, block, $event)"
                 ng-touchstart="remove(dayIdx, block, $event)"
                 ng-if="block.destructible && block.status>0">
              <span class="glyphicon glyphicon-remove"></span>
            </div>
          </div>
        </td>
      </tr>
      <tr ng-repeat="val in getCount(block.length - 1) track by $index" 
          ng-repeat-end>
        <td style="width:0"></td>
      </tr>
    </table>
	</div>
</div>
