<div class="schedule noselect"
     ng-mouseleave="release()"
     ng-mouseup="release()">
  <div ng-repeat="klass in fillClasses.slice(1)"
       class="colorpicker ng-class:[klass]"
       ng-click="selectClass($index+1)">
  </div>
	<div style="clear: both;"
       ng-repeat="day in days"
       ng-init="dayIdx = $index">
		<table class="display-blocks"
           ng-class="{resizing: selectedBlock !== null}">
			<tr class="block-row"
				  ng-mousemove="trackMove(dayIdx, $event)"
          ng-mousedown="select(dayIdx, $event)"
          ng-mouseleave=""
          ng-mouseenter=""
          ng-mouseup="">
				<td ng-repeat="block in day.blocks" 
					  colspan="{{ block.length }}">
          <div class="schedule-block-content 
                      ng-class:[fillClasses[block.status]]"
               ng-mousedown="createIfAvailable(dayIdx, block)">
						&nbsp;
						<div class="bumper left-bumper" 
                 ng-class="{resizing: selectedBlock === null}"
                 ng-mousedown="adjustLeft(block)"
							   ng-if="block.status > 0">
						</div>
						<div class="bumper right-bumper" 
                 ng-class="{resizing: selectedBlock === null}"
                 ng-mousedown="adjustRight(block)"
							   ng-if="block.status > 0">
						</div>
            <div class="destroy-btn"
                 ng-click="remove(dayIdx, block, $event)"
                 ng-if="block.destructible && block.status>0">
              <span class="glyphicon glyphicon-remove"></span>
            </div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>